<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta charset="utf-8">

        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>
        <header>
            <span id="hname"><a href="index.html">농작물 경작 정보 시스템</a> </span>
            <span id="log"><a id="logbutton" href="login.html">Login</a></span>
        
        </header>
        <nav>
            <div class="menu">
            <div class="dropmenu">
                <button class="m1"><a href="m1.html">작물신청신고</a></button>
       
                <button class="m1"><a href="m2.html">통계 자료</a></button>
             
               
               
                <button class="m1"><a href="m4.html">마이 페이지</a></button>
               </div>
        </nav>
        <section>
            <div class = "front">
                    <div class = "submenu">
                            <ul>
                                <li ><a href="m4.html"  >내정보</a></li>
                                <li ><a href="4-2.html">파종신청현황</a></li>
                                <li style="background:rgb(61, 104, 61); "><a href="4-3.html"  style="color:white;">수확신청현황</a></li>
                                <li><a href="4-4.html">경작기록</a></li>
                                
                            </ul>
                    </div>
                    <div class="arti">
                    
                        <table  border="1" style="border-collapse: collapse; ">
                            <thead style="border-bottom: 6px double black;">
                                <th>신고일</th><th>작물명</th><th>수확 면적</th>
                            </thead>
                            <tbody id="showAreg">
                                
                            </tbody>
                        </table>

                    </div>
            </div>
        </section>
        <script>
        $(document).ready(function(){
                function my(){
                    $.getJSON('http://localhost:3000/showAreg', function(data){
                        $(data).each(function(index, item){
                            var cont = document.getElementById("showAreg").innerHTML;
                            document.getElementById("showAreg").innerHTML = cont+ `<tr><td>${item.date}</td><td>${item.crop}</td><td>${item.width}</td></tr>`;
                        })
                    })
                }

                function test(){
                    $.getJSON('http://localhost:3000/test', function(data){
                       if(data){
                        var bu =  document.getElementById("logbutton");
                        bu.innerHTML="LogOut";
                        bu.href="http://localhost:3000/logout";
                        }
                    })
                }

                my();
                test();
            })
        </script>
        </script>
    </body>
</html>