<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta charset="utf-8">
        
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>
        <header>
            <span id="hname"><a href="index.html">농작물 경작 정보 시스템</a> </span>
            <span id="log"><a href="login.html">Login</a></span>
        
        </header>
        <nav>
            <div class="menu">
            <div class="dropmenu">
                <button class="m1"><a href="m1.html">작물신청신고</a></button>
       
                <button class="m1"><a href="m2.html">통계 자료</a></button>
             
               
               
                <button class="m1"><a href="m4.html">마이 페이지</a></button>
               </div>
        </nav>
        <section>
            <div class = "front">
                <div class="regform">
                    <form id="register" action="register">
                        <fieldset>
                            <legend style="text-align: center; font-size: 23px;">회원가입</legend>
                            <h4>개인정보</h4>
                            <span class="can"><label>ID</span> <input type="text" name="id"> </label>
                            <input type="button" value="중복확인" style="width:80px;font-size: 15px; background: black; color:white;"><br>
                            
                            <span class="can"><label>PW </span><input type="password" name="pw"><br></label>
                            <span class="can"><label>이름</span> <input type="text" name="name"><br></label>
                            <span class="can"><label>전화</span> <input type="tel" name="tel"></label>

                            <hr>
                            <h4>농가정보</h4>
                            <span class="can"><label> 주소</span> <input type="text" id="sample5_address" name="address"></label>
                            <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색" style="width:80px;font-size: 15px; background: black; color:white;" ><br>
                            <div id="map" style="width:600px;height:400px;margin-top:10px;display:inline-block; position:absolute; left: 600px; border: 1px solid black; top : 400px;"></div>

                            <span style=" position : absolute; left: 1230px; display:inline-block; width : 200px; height : 200px;">
                               면적 계산하는 법
                                <ul>

                                    <li>오른쪽 마우스 클릭</li>
                                    <li>왼쪽 마우스로 농가 토지 따라그리기</li>
                                    <li>다시 오른쪽 마우스 클릭</li>
                                </ul>
                            </span>

                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ffa849a695e16ba6cdff28bde9f7866e&libraries=services"></script>
                            <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            
                            <script>
                                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                    mapOption = {
                                        center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                                        level: 5 // 지도의 확대 레벨
                                    };
                            
                                //지도를 미리 생성
                                var map = new daum.maps.Map(mapContainer, mapOption);
                                //주소-좌표 변환 객체를 생성
                                var geocoder = new daum.maps.services.Geocoder();
                                //마커를 미리 생성
                                var marker = new daum.maps.Marker({
                                    position: new daum.maps.LatLng(37.537187, 127.005476),
                                    map: map
                                });
                            
                            
                                function sample5_execDaumPostcode() {
                                    new daum.Postcode({
                                        oncomplete: function(data) {
                                            var addr = data.address; // 최종 주소 변수
                            
                                            // 주소 정보를 해당 필드에 넣는다.
                                            document.getElementById("sample5_address").value = addr;
                                            // 주소로 상세 정보를 검색
                                            geocoder.addressSearch(data.address, function(results, status) {
                                                // 정상적으로 검색이 완료됐으면
                                                console.log("정상변환");
                                                if (status === daum.maps.services.Status.OK) {
                            
                                                    var result = results[0]; //첫번째 결과의 값을 활용
                            
                                                    // 해당 주소에 대한 좌표를 받아서
                                                    var coords = new daum.maps.LatLng(result.y, result.x);
                                                    // 지도를 보여준다.
                                                    mapContainer.style.display = "inline-block";
                                                    map.relayout();
                                                    // 지도 중심을 변경한다.
                                                    map.setCenter(coords);
                                                    // 마커를 결과값으로 받은 위치로 옮긴다.
                                                    marker.setPosition(coords)
                                                }
                                            });
                                        }
                                    }).open();
                                }

                                var drawingFlag = false; // 다각형이 그려지고 있는 상태를 가지고 있을 변수입니다
                    var drawingPolygon; // 그려지고 있는 다각형을 표시할 다각형 객체입니다
                    var polygon; // 그리기가 종료됐을 때 지도에 표시할 다각형 객체입니다
                    var areaOverlay; // 다각형의 면적정보를 표시할 커스텀오버레이 입니다

                    // 마우스 클릭 이벤트가 발생하고나면 drawingFlag가 그려지고 있는 상태인 ture 값으로 바뀝니다
                    // 그려지고 있는 상태인 경우 drawingPolygon 으로 그려지고 있는 다각형을 지도에 표시합니다
                    // 마우스 오른쪽 클릭 이벤트가 발생하면 drawingFlag가 그리기가 종료된 상태인 false 값으로 바뀌고
                    // polygon 으로 다 그려진 다각형을 지도에 표시합니다


                    // 지도에 마우스 클릭 이벤트를 등록합니다
                    // 지도를 클릭하면 다각형 그리기가 시작됩니다 그려진 다각형이 있으면 지우고 다시 그립니다
                    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                        // 마우스로 클릭한 위치입니다 
                        var clickPosition = mouseEvent.latLng; 
                        
                        // 지도 클릭이벤트가 발생했는데 다각형이 그려지고 있는 상태가 아니면
                        if (!drawingFlag) {

                            // 상태를 true로, 다각형을 그리고 있는 상태로 변경합니다
                            drawingFlag = true;
                            
                            // 지도 위에 다각형이 표시되고 있다면 지도에서 제거합니다
                            if (polygon) {  
                                polygon.setMap(null);      
                                polygon = null;  
                            }
                            
                            // 지도 위에 면적정보 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다
                            if (areaOverlay) {
                                areaOverlay.setMap(null);
                                areaOverlay = null;
                            }
                        
                            // 그려지고 있는 다각형을 표시할 다각형을 생성하고 지도에 표시합니다
                            drawingPolygon = new kakao.maps.Polygon({
                                map: map, // 다각형을 표시할 지도입니다
                                path: [clickPosition], // 다각형을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                                strokeWeight: 3, // 선의 두께입니다 
                                strokeColor: '#00a0e9', // 선의 색깔입니다
                                strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                                strokeStyle: 'solid', // 선의 스타일입니다
                                fillColor: '#00a0e9', // 채우기 색깔입니다
                                fillOpacity: 0.2 // 채우기 불투명도입니다
                            }); 
                            
                            // 그리기가 종료됐을때 지도에 표시할 다각형을 생성합니다 
                            polygon = new kakao.maps.Polygon({ 
                                path: [clickPosition], // 다각형을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다 
                                strokeWeight: 3, // 선의 두께입니다 
                                strokeColor: '#00a0e9', // 선의 색깔입니다   
                                strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                                strokeStyle: 'solid', // 선의 스타일입니다
                                fillColor: '#00a0e9', // 채우기 색깔입니다
                                fillOpacity: 0.2 // 채우기 불투명도입니다
                            });

                            
                        } else { // 다각형이 그려지고 있는 상태이면 
                            
                            // 그려지고 있는 다각형의 좌표에 클릭위치를 추가합니다
                            // 다각형의 좌표 배열을 얻어옵니다
                            var drawingPath = drawingPolygon.getPath();
                        
                            // 좌표 배열에 클릭한 위치를 추가하고
                            drawingPath.push(clickPosition);
                            
                            // 다시 다각형 좌표 배열을 설정합니다
                            drawingPolygon.setPath(drawingPath);
                            
                        
                            // 그리기가 종료됐을때 지도에 표시할 다각형의 좌표에 클릭 위치를 추가합니다
                            // 다각형의 좌표 배열을 얻어옵니다
                            var path = polygon.getPath();
                        
                            // 좌표 배열에 클릭한 위치를 추가하고
                            path.push(clickPosition);
                            
                            // 다시 다각형 좌표 배열을 설정합니다
                            polygon.setPath(path);
                        }

                    });

                    // 지도에 마우스무브 이벤트를 등록합니다
                    // 다각형을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 다각형의 위치를 동적으로 보여주도록 합니다
                    kakao.maps.event.addListener(map, 'mousemove', function (mouseEvent) {

                        // 지도 마우스무브 이벤트가 발생했는데 다각형을 그리고있는 상태이면
                        if (drawingFlag){

                            // 마우스 커서의 현재 위치를 얻어옵니다 
                            var mousePosition = mouseEvent.latLng; 
                            
                            // 그려지고있는 다각형의 좌표배열을 얻어옵니다
                            var path = drawingPolygon.getPath();
                            
                            // 마우스무브로 추가된 마지막 좌표를 제거합니다
                            if (path.length > 1) {
                                path.pop();
                            } 
                            
                            // 마우스의 커서 위치를 좌표 배열에 추가합니다
                            path.push(mousePosition);

                            // 그려지고 있는 다각형의 좌표를 다시 설정합니다
                            drawingPolygon.setPath(path);
                        }             
                    });     

                    // 지도에 마우스 오른쪽 클릭 이벤트를 등록합니다
                    // 다각형을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면 그리기를 종료합니다
                    kakao.maps.event.addListener(map, 'rightclick', function (mouseEvent) {

                        // 지도 오른쪽 클릭 이벤트가 발생했는데 다각형을 그리고있는 상태이면
                        if (drawingFlag) {
                            
                            // 그려지고있는 다각형을  지도에서 제거합니다
                            drawingPolygon.setMap(null);
                            drawingPolygon = null;  
                            
                            // 클릭된 죄표로 그릴 다각형의 좌표배열을 얻어옵니다
                            var path = polygon.getPath();
                        
                            // 다각형을 구성하는 좌표의 개수가 3개 이상이면 
                            if (path.length > 2) {
                                
                                // 지도에 다각형을 표시합니다
                                polygon.setMap(map); 

                                var area = Math.round(polygon.getArea()), // 다각형의 총면적을 계산합니다
                                    content = '<div class="info">총면적 <span class="number"> ' + area + '</span> m<sup>2</sup></div>'; // 커스텀오버레이에 추가될 내용입니다
                                document.getElementById("regwidth").value = area;
                                // 면적정보를 지도에 표시합니다
                                areaOverlay = new kakao.maps.CustomOverlay({
                                    map: map, // 커스텀오버레이를 표시할 지도입니다 
                                    content: content,  // 커스텀오버레이에 표시할 내용입니다
                                    xAnchor: 0,
                                    yAnchor: 0,
                                    position: path[path.length-1]  // 커스텀오버레이를 표시할 위치입니다. 위치는 다각형의 마지막 좌표로 설정합니다
                                });      

                                
                            } else { 
                                
                                // 다각형을 구성하는 좌표가 2개 이하이면 다각형을 지도에 표시하지 않습니다 
                                polygon = null;  
                            }
                            
                            // 상태를 false로, 그리지 않고 있는 상태로 변경합니다
                            drawingFlag = false;          
                        }  });


                            </script>
                            <span class="can"><label>상세주소</span> <input type="text" name="address_add"></label><br>
                            <span class="can"><label>면적</span> <input type="number" placeholder="단위 : m^2" id="regwidth" name="width"></label><br>

                            <span class="can"><label>대표 경작 작물</span> <input type="text" placeholder="  ,로 구분" name="crop"></label>


                            <br><br><pre>
                            <input type="submit" value="가입신청"></pre>
                        </fieldset>
                    </form>
                </div>
            </div></div>
        </section>
        <script>
            $(document).ready(function(){
                function test(){
                    $.getJSON('http://localhost:3000/test', function(data){
                       if(data){
                        var bu =  document.getElementById("logbutton");
                        bu.innerHTML="LogOut";
                        bu.href="http://localhost:3000/logout";
                        }
                    })
                }
                test();
            })    
            
        
        </script>
    </body>
</html>